events {
        worker_connections 768;
}

http {
    upstream backend {
        server 89.169.182.80:80; # замените на IP-адрес машины с отдающим Nginx
    }

    server {
        listen 3000; # порт, на который будут поступать запросы

        location / {
            proxy_pass http://backend;
        }
    }
        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;
}
